@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800&subset=cyrillic');

/*
font-family: 'Roboto Slab', serif;
font-family: 'Open Sans', sans-serif;
*/


/* Reset CSS
 * --------------------------------------- */
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}
:focus { outline: 0;}
a:link, a:visited, a:active{text-decoration:none; color: #000}
table {	border-collapse: separate;border-spacing: 0; width: 100%;}
th, td {text-align: left; font-weight: normal;}
tr{line-height: 30px;}
img, iframe {border: none; text-decoration:none;}
ol, ul {list-style: none;}
input, textarea, select, button {font-size: 100%;font-family: inherit;}
*, *:after, *::before{box-sizing:border-box; -ms-box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}





/* Custom CSS
 * --------------------------------------- */
body{
	font-family: 'Open Sans',arial,helvetica sans-serif;
	background-color: #cccccc;
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}



#menu{
	position: absolute;
	top: 50vh;
	left:50%;
	margin-left: -280px;
	z-index: -9;
	opacity: 0;
	width: 560px;
	height: 110px;
	transition: all .3s;
}
#menu a{
	display: block;
	width: 100%;
	height: 100%;
}
.fp-viewing-mainPage #menu{
	top: 65vh;
	z-index: 700;
	opacity: 1;
	transition: all .01s;
}
.menu__item{
	display: inline-block;
}
.menu__item_candidates{
	background: url('../img/menu__candidates.png') 0 0 no-repeat;
	width: 242px;
	height: 92px;
	transition: all .8s;
}
.menu__item_test{
	background: url('../img/menu__test.png') 0 0 no-repeat;
	width: 268px;
	height: 77px;
	margin-left: 45px;
	transition: all .8s;
}

.menu__item_candidates:hover{
	-o-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	-webkit-transform: rotate(-5deg);
	transform: rotate(-5deg);
	transition: all .6s;
}
.menu__item_test:hover{
	-o-transform: rotate(5deg);
	-ms-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	-webkit-transform: rotate(5deg);
	transform: rotate(5deg);
	transition: all .6s;
}






#fixedBottom{
	position:fixed;
	bottom: 0;
	left:0;
	width: 100%;
	z-index: 999;
}
.fixedBottom__wrp{
	position: relative;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	background: url(../img/18.png) 0 0 no-repeat;
	min-height: 74px;
}







.section{
	background-size: cover;
}

#section0{
	background-image: url(../img/bg-1.jpg);
}
#section2{
	background-image: url(../img/bg-2.jpg);
}
#section3{
	background-image: url(../img/bg-3.jpg);
}

.section__wrp{
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

.hidden{
	display: none !important;
}



.logoMxm{
	position: absolute;
	z-index: 100;
	width: 140px;
	height: 24px;
	top: 3vh;
	left: 50%;
	margin-left: -70px;
	background: url('../img/logo.svg') 0 0 no-repeat;
}
.h1{
	position: relative;
    z-index: 5;
    color: #b0020a;
    font-family: 'Roboto Slab', serif;
    font-size: 7em;
    line-height: 1em;
    max-width: 730px;
    text-align: center;
    padding-top: 18vh;
    margin: 0 auto;
	transition: all .6s;
}
.h1:after{
	content: 'КТО ТВОЙ КАНДИДАТ?';
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	z-index: 0;
	color: #b0020a;
}
.h1:before{
	content: 'КТО ТВОЙ КАНДИДАТ?';
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	z-index: 1;
	color: #fff;
}


.active .h1{
    -o-transform: rotate(-4deg);
	-ms-transform: rotate(-4deg);
	-moz-transform: rotate(-4deg);
	-webkit-transform: rotate(-4deg);
	transform: rotate(-4deg);
	transition: all 1.6s;
}
.active .h1:after{
	left: -10px;
	transition: all 1.6s;
}
.active .h1:before{
	left: 21px;
	transition: all 1.6s;
}



.h2{
	position: relative;
    z-index: 5;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-size: 7em;
    line-height: 1em;
    max-width: 730px;
    text-align: center;
    padding-top: 0;
    margin: 0 auto;
	transition: all .6s;
}
.h2:after{
	content: 'КАНДИДАТЫ';
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	z-index: 0;
	color: #fff;
}
.h2:before{
	content: 'КАНДИДАТЫ';
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	z-index: 1;
	color: #b0020a;
}
.active .h2{
    -o-transform: rotate(-2deg);
	-ms-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	-webkit-transform: rotate(-2deg);
	transform: rotate(-2deg);
	transition: all 1.6s;
}
.active .h2:after{
	left: -10px;
	transition: all 1.6s;
}
.active .h2:before{
	left: 8px;
	transition: all 1.6s;
}






.h3__test{
	position: relative;
    z-index: 5;
    color: #b0020a;
    font-family: 'Roboto Slab', serif;
    font-size: 7em;
    line-height: 1em;
    max-width: 285px;
    text-align: center;
    padding-top: 0;
    margin: 0 auto;
	transition: all .6s;
}
.h3__test:after{
	content: 'ТЕСТ';
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	z-index: 0;
	color: #b0020a;
}
.h3__test:before{
	content: 'ТЕСТ';
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	z-index: 1;
	color: #fff;
}
.active .h3__test{
    -o-transform: rotate(-2deg);
	-ms-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	-webkit-transform: rotate(-2deg);
	transform: rotate(-2deg);
	transition: all 1.6s;
}
.active .h3__test:after{
	left: -10px;
	transition: all 1.6s;
}
.active .h3__test:before{
	left: 8px;
	transition: all 1.6s;
}


.h3__resul{
	position: relative;
    z-index: 5;
    color: #b0020a;
    font-family: 'Roboto Slab', serif;
    font-size: 7em;
    line-height: 1em;
    max-width: 657px;
    text-align: center;
    padding-top: 50px;
    margin: 0 auto;
	transition: all .6s;
}
.h3__resul:after{
	content: 'РЕЗУЛЬТАТ';
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	z-index: 0;
	color: #b0020a;
}
.h3__resul:before{
	content: 'РЕЗУЛЬТАТ';
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	z-index: 1;
	color: #fff;
}
.active.h3__resul{
    -o-transform: rotate(-2deg);
	-ms-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	-webkit-transform: rotate(-2deg);
	transform: rotate(-2deg);
	transition: all 1.6s;
}
.active.h3__resul:after{
	left: -7px;
	transition: all 1.6s;
}
.active.h3__resul:before{
	left: 8px;
	transition: all 1.6s;
}






.section0__txt{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
    line-height: 1.7em;
	color: #fff;
	width: 100%;
	max-width: 530px;
	margin: 4vh auto 0 auto;
	text-align: center;
	position: relative;
	z-index: 5;
}
.monument{
	display: block;
	position: absolute;
	z-index: 2;
	top: 5vh;
    right: -20%;
}

.raketa{
	display: block;
	position: absolute;
	z-index: 1;
	top: 7vh;
    left: 26%;
 }

@-webkit-keyframes raketa {
  0% {
		-webkit-transform: scale(0.6);
		-moz-transform: scale(0.6);
		-o-transform: scale(0.6);
	}
  50% {
		-webkit-transform: scale(0.8);
		-moz-transform: scale(0.8);
		-o-transform: scale(0.8);
	}
	100% {
		-webkit-transform: scale(0.6);
		-moz-transform: scale(0.6);
		-o-transform: scale(0.6);
	}
}
@keyframes raketa {
  0% {
		-webkit-transform: scale(0.6);
		-moz-transform: scale(0.6);
		-o-transform: scale(0.6);
	}
  50% {
		-webkit-transform: scale(0.8);
		-moz-transform: scale(0.8);
		-o-transform: scale(0.8);
	}
	100% {
		-webkit-transform: scale(0.6);
		-moz-transform: scale(0.6);
		-o-transform: scale(0.6);
	}
}
.active .raketa {
  -webkit-animation: raketa 7s ease-in-out;
  animation: raketa 7s ease-in-out;
   -webkit-animation-iteration-count: infinite;
   animation-iteration-count: infinite;
    -moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;
}


.leica{
	display: block;
	position: absolute;
	z-index: 2;
	top: 0;
    right: -28%;
    background: url('../img/leica.png') right 0 no-repeat;
    width: 390px;
    height: 260px;
}
.leica:after,
.leica:before{
	display: block;
	position: absolute;
	bottom: 0;
    left: 0;
    content: '';
    width: 175px;
    height: 182px;
    opacity: 0;
}
 
.active .leica:after{
	background: url('../img/rain_1.png') 0 0 no-repeat;
  -webkit-animation: leicaAfter 3s ease-in-out;
  animation: leicaAfter 3s ease-in-out;
   -webkit-animation-iteration-count: 10;
   animation-iteration-count: 10;
}
@-webkit-keyframes leicaAfter {
  0% {opacity: 0;}
  10% {opacity: 1;}
  20% {opacity: 0;}
  30% {opacity: 1;}
  40% {opacity: 0;}
  50% {opacity: 1;}
  60% {opacity: 0;}
  70% {opacity: 1;}
  80% {opacity: 0;}
  90% {opacity: 1;}
  99.9% {opacity: 0;}
  100% {opacity: 0;}
}
@keyframes leicaAfter {
  0% {opacity: 0;}
  10% {opacity: 1;}
  20% {opacity: 0;}
  30% {opacity: 1;}
  40% {opacity: 0;}
  50% {opacity: 1;}
  60% {opacity: 0;}
  70% {opacity: 1;}
  80% {opacity: 0;}
  90% {opacity: 1;}
  99.9% {opacity: 0;}
  100% {opacity: 0;}
}

.leica:before{
	background: url('../img/rain_2.png') 0 0 no-repeat;
  -webkit-animation: leicaBefore 3s ease-in-out;
  animation: leicaBefore 3s ease-in-out;
   -webkit-animation-iteration-count: 10;
   animation-iteration-count: 10;
}
@-webkit-keyframes leicaBefore {
  0% {opacity: 1;}
  10% {opacity: 0;}
  20% {opacity: 1;}
  30% {opacity: 0;}
  40% {opacity: 1;}
  50% {opacity: 0;}
  60% {opacity: 1;}
  70% {opacity: 0;}
  80% {opacity: 1;}
  90% {opacity: 0;}
  99.9% {opacity: 1;}
  100% {opacity: 0;}
}
@keyframes leicaBefore {
  0% {opacity: 1;}
  10% {opacity: 0;}
  20% {opacity: 1;}
  30% {opacity: 0;}
  40% {opacity: 1;}
  50% {opacity: 0;}
  60% {opacity: 1;}
  70% {opacity: 0;}
  80% {opacity: 1;}
  90% {opacity: 0;}
  99.9% {opacity: 1;}
  100% {opacity: 0;}
}


.maus{
	display: block;
	position: absolute;
	z-index: 0;
	top: 21%;
    left: 13%;
}


.votingBox{
	display: block;
	position: absolute;
	z-index: 1;
	bottom: 5%;
    left: 31%;
    width: 205px;
    height: 196px;
	background: url('../img/urna.png') 0 0 no-repeat;
  -webkit-animation: votingBox 13s ease-in-out;
  animation: votingBox 13s ease-in-out;
   -webkit-animation-iteration-count: infinite;
   animation-iteration-count: infinite;
}
@-webkit-keyframes votingBox{
	0%  {transform:translateY(0); transform:translateX(0);}
	20% {transform:translateX(5px);}
	30% {transform:translateY(-30px);}
	50% {transform:translateX(0);}
	60% {transform:translateY(30px);}
	80% {transform:translateX(-10px);}
	100%{transform:translateY(0); transform:translateX(0);}
}
@keyframes votingBox{
	0%  {transform:translateY(0); transform:translateX(0);}
	20% {transform:translateX(5px);}
	30% {transform:translateY(-30px);}
	50% {transform:translateX(0);}
	60% {transform:translateY(30px);}
	80% {transform:translateX(-10px);}
	100%{transform:translateY(0); transform:translateX(0);}
}
@-moz-keyframes votingBox{
	0%  {transform:translateY(0); transform:translateX(0);}
	20% {transform:translateX(5px);}
	30% {transform:translateY(-30px);}
	50% {transform:translateX(0);}
	60% {transform:translateY(30px);}
	80% {transform:translateX(-10px);}
	100%{transform:translateY(0); transform:translateX(0);}
}
@-o-keyframes votingBox{
	0%  {transform:translateY(0); transform:translateX(0);}
	20% {transform:translateX(5px);}
	30% {transform:translateY(-30px);}
	50% {transform:translateX(0);}
	60% {transform:translateY(30px);}
	80% {transform:translateX(-10px);}
	100%{transform:translateY(0); transform:translateX(0);}
}
.votingBox:after,
.votingBox:before{
	display: block;
	position: absolute;
	bottom: 0;
    left: 0;
    content: '';
    width: 205px;
    height: 196px;
}
 
.votingBox:after{
	background: url('../img/urna-1.png') 0 0 no-repeat;
  -webkit-animation: votingBoxAfter 3s ease-in-out;
  animation: votingBoxAfter 3s ease-in-out;
   -webkit-animation-iteration-count: infinite;
   animation-iteration-count: infinite;
}
@-webkit-keyframes votingBoxAfter {
  0% {opacity: 0;}
  10% {opacity: 1;}
  20% {opacity: 0;}
  30% {opacity: 1;}
  40% {opacity: 0;}
  50% {opacity: 1;}
  60% {opacity: 0;}
  70% {opacity: 1;}
  80% {opacity: 0;}
  90% {opacity: 1;}
  99.9% {opacity: 0;}
  100% {opacity: 0;}
}
@keyframes votingBoxAfter {
  0% {opacity: 0;}
  10% {opacity: 1;}
  20% {opacity: 0;}
  30% {opacity: 1;}
  40% {opacity: 0;}
  50% {opacity: 1;}
  60% {opacity: 0;}
  70% {opacity: 1;}
  80% {opacity: 0;}
  90% {opacity: 1;}
  99.9% {opacity: 0;}
  100% {opacity: 0;}
}

.votingBox:before{
	background: url('../img/urna-2.png') 0 0 no-repeat;
  -webkit-animation: votingBoxBefore 3s ease-in-out;
  animation: votingBoxBefore 3s ease-in-out;
   -webkit-animation-iteration-count: infinite;
   animation-iteration-count: infinite;
}
@-webkit-keyframes votingBoxBefore {
  0% {opacity: 1;}
  10% {opacity: 0;}
  20% {opacity: 1;}
  30% {opacity: 0;}
  40% {opacity: 1;}
  50% {opacity: 0;}
  60% {opacity: 1;}
  70% {opacity: 0;}
  80% {opacity: 1;}
  90% {opacity: 0;}
  99.9% {opacity: 1;}
  100% {opacity: 0;}
}
@keyframes votingBoxBefore {
  0% {opacity: 1;}
  10% {opacity: 0;}
  20% {opacity: 1;}
  30% {opacity: 0;}
  40% {opacity: 1;}
  50% {opacity: 0;}
  60% {opacity: 1;}
  70% {opacity: 0;}
  80% {opacity: 1;}
  90% {opacity: 0;}
  99.9% {opacity: 1;}
  100% {opacity: 0;}
}





.zhgun{
	position: absolute;
	z-index: 2;
	bottom: 5%;
    left: 0%;
    width: 100%;
    height: 100%;
    max-width: 296px;
    max-height: 380px;
	background: url('../img/zhgun.png') 0 0 no-repeat;
	background-size: cover;
}
.zhgun:hover{
	cursor: progress;
}
.zhgun:after,
.zhgun:before{
	display: block;
	content: '';
	position: absolute;
}
.zhgun:before{
	background: url('../img/zhgun2.png') 0 0 no-repeat;
	width: 11px;
	height: 0;
	top: 40px;
    right: 115px;
	transition: all .5s;
}
.zhgun:after{
	background: url('../img/zhgun3.png') 0 0 no-repeat;
	width: 98px;
	height: 42px;
	top: 22px;
    right: 95px;
	transition: all 1s;
}

.zhgun:hover:after{
	-o-transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
	-moz-transform: rotate(-30deg);
	-webkit-transform: rotate(-30deg);
	transform: rotate(-30deg);
	top: 5px;
	transition: all .6s;
}
.zhgun:hover:before{
	-webkit-animation-name: zhgun2;
    -moz-animation-name: zhgun2;
    -o-animation-name: zhgun2;
    animation-name: zhgun2;

    -webkit-animation-delay: .4s;
    -moz-animation-delay: .4s;
    -o-animation-delay: .4s;
    animation-delay: .4s;

    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    -o-animation-duration: .5s;
    animation-duration: .5s;
}
@-webkit-keyframes zhgun2 {
    from {height: 0px;}
	to {height: 11px;}
}
@-moz-keyframes zhgun2 {
    from {height: 0px;}
	to {height: 11px;}
}
@-o-keyframes zhgun2 {
    from {height: 0px;}
	to {height: 11px;}
}
@keyframes zhgun2 {
    from {height: 0px;}
	to {height: 11px;}
}








/* Candidate --> */

.candidate__list{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 950px;
	height: auto;
	position: relative;
	margin: 20px auto 0 auto;
}
.candidate__item {
	position: relative;
	display: block;
	cursor: pointer;
	display: block;
	text-align: center;
}
.candidate__item img {
	max-width: 150px;
}
.candidate__item {
	width: calc(100% / 4);
}
.candidate__item_01 {
	text-align: right;
}
.candidate__item_03 {
	text-align: left;
}
.candidate__item_04 {
	text-align: left;
}
.candidate__item_07 {
	text-align: right;
}
.candidate__item_01,
.candidate__item_02,
.candidate__item_03,
.candidate__item_08,
.candidate__item_09 {
	width: calc(100% / 3);
}

.candidate__item_08,
.candidate__item_09 {
	width: calc(100% / 2);
}
.subscribers {
	background-color: #ae0816;
	color: white;
	position: absolute;
	font-size: 12px;
	font-weight: 600;
	padding: 2px 6px;
	letter-spacing: 1px;
}
.candidate__item_01 .subscribers {
	bottom: 59px;
	left: 190px;
	transform: rotate(-21deg);
}
.candidate__item_02 .subscribers {
	bottom: 65px;
	left: 140px;
	transform: rotate(-11deg);
}
.candidate__item_03 .subscribers {
	bottom: 72px;
	left: 37px;
	transform: rotate(-17deg);
}
.candidate__item_04 .subscribers {
	bottom: 64px;
	left: 34px;
	transform: rotate(-25deg);
}
.candidate__item_05 .subscribers {
	bottom: 73px;
	left: 120px;
	transform: rotate(-11deg);
}
.candidate__item_06 .subscribers {
	bottom: 57px;
	left: 88px;
	transform: rotate(-1deg);
}
.candidate__item_07 .subscribers {
	bottom: 37px;
	left: 114px;
	transform: rotate(9deg);
}
.candidate__item_08 .subscribers {
	bottom: 65px;
	left: 140px;
	transform: rotate(-11deg);
}
.candidate__item_09 .subscribers {
	bottom: 64px;
	left: 145px;
	transform: rotate(-16deg);
}
/*.candidate__item_01{*/
	/*z-index: 1;*/
    /*width: 21vh;*/
    /*max-width: 214px;*/
    /*min-width: 100px;*/
    /*height: auto;*/
    /*top: 0;*/
    /*left: 17%;*/
/*}*/
/*.candidate__item_02{*/
	/*z-index: 2;*/
	/*width: 21vh;*/
    /*max-width: 214px;*/
    /*min-width: 100px;*/
	/*top: 0;*/
	/*left: 390px;*/
/*}*/
/*.candidate__item_03{*/
	/*z-index: 3;*/
	/*width: 21vh;*/
    /*max-width: 213px;*/
    /*min-width: 100px;*/
	/*top: 0;*/
	/*left: 620px;*/
/*}*/
/*.candidate__item_04{*/
	/*z-index: 4;*/
	/*width: 21vh;*/
    /*max-width: 201px;*/
    /*min-width: 100px;*/
	/*top: 22vh;*/
	/*left: 0;*/
/*}*/
/*.candidate__item_05{*/
	/*z-index: 5;*/
	/*width: 21vh;*/
    /*max-width: 179px;*/
    /*min-width: 100px;*/
	/*top: 29vh;*/
	/*left: 215px;*/
/*}*/
/*.candidate__item_06{*/
	/*z-index: 6;*/
    /*width: 23vh;*/
    /*max-width: 228px;*/
    /*min-width: 100px;*/
    /*height: auto;*/
    /*top: 34vh;*/
    /*left: 432px;*/
/*}*/
/*.candidate__item_07{*/
	/*z-index: 7;*/
	/*width: 23vh;*/
    /*max-width: 218px;*/
    /*min-width: 100px;*/
	/*top: 29vh;*/
	/*left: 710px;*/
/*}*/
/*.candidate__item_08{*/
	/*z-index: 8;*/
	/*width: 21vh;*/
    /*max-width: 193px;*/
    /*min-width: 100px;*/
	/*top: 52vh;*/
	/*left: 68px;*/
/*}*/
/*.candidate__item_09{*/
	/*z-index: 9;*/
	/*width: 21vh;*/
    /*max-width: 199px;*/
    /*min-width: 100px;*/
	/*top: 56vh;*/
	/*left: 308px;*/
/*}*/
/*.candidate__item_10{*/
	/*z-index: 10;*/
	/*width: 30vh;*/
    /*max-width: 288px;*/
    /*min-width: 100px;*/
    /*height: auto;*/
    /*top: 56vh;*/
    /*left: 578px;*/
/*}*/
/* <-- Candidate */








/* Test --> */
#end {
	margin: 0 auto;
	max-width: 700px;
	display: none;
	position: relative;
}
#end:after,
#end:before{
	position: absolute;
	top: 77px;
    font-family: 'Roboto Slab', serif;
    font-size: 63px;
    line-height: 1em;
    max-width: 420px;
    text-align: left;
	transition: all .6s;
    -o-transform: rotate(-2deg);
	-ms-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	-webkit-transform: rotate(-2deg);
	transform: rotate(-2deg);
}
#end:after{
	content: 'Твой идеальный кандидат:';
	position: absolute;
	z-index: 0;
	color: #000;
	left: -7px;
}
#end:before{
	content: 'Твой идеальный кандидат:';
	position: absolute;
	z-index: 1;
	color: #fff;
	left: 8px;
}

.end__text{
	color: #fff;
	text-align: center;
	width: 430px;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
    line-height: 32px;
    padding-top: 58%;
}
.end__text a{
	color: #fff;
	text-decoration: underline;
}
.testResultItem {
	display: none;
	color: #fff;
}
.hide{
	display: none;
}
#end.show,
.show { display: block }

.close{
	cursor: pointer;
	background-color: #4bc7fa;
	padding: 2px 5px;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
	display: none;
}

.questions__blocList{
	display: none;
	color: #fff;
	width: 100%;
	max-width: 790px;
	margin: 0 auto;
	/*padding-top: 68px;*/
}
.questions__blocList.show{
	display: block;
}

.questions__item:hover{
	cursor: pointer;
}
.questions__item{
	margin-left: 170px;
    margin-bottom: 28px;
    padding-left: 93px;
	position: relative;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	line-height: 30px;
	min-height: 39px;
	padding-right: 80px;
}
.questions__item.active:after{
	content: '';
	display: block;
	width: 40px;
	height: 39px;
	background: url(../img/tick_active.png) 0 0 no-repeat;
	position: absolute;
	top: 0;
	left: 0;
}
.questions__item:nth-of-type(2){
	background: url(../img/tick_1.png) 0 0 no-repeat;
}
.questions__item:nth-child(3){
	background: url(../img/tick_2.png) 0 0 no-repeat;
}
.questions__item:nth-child(4){
	background: url(../img/tick_3.png) 0 0 no-repeat;
}
.questions__item:nth-child(5){
	background: url(../img/tick_4.png) 0 0 no-repeat;
}

.question__title{
	background: url(../img/fon_title_q.png) 0 0 no-repeat;
	max-height: 272px;
	font-family: 'Open Sans', sans-serif;
	font-size: 34px;
	line-height: 45px;
	position: relative;
}
.question__title_8{
	background: url(../img/fon_title_q9.png) 0 0 no-repeat;
	max-height: 291px;
	font-family: 'Open Sans', sans-serif;
	font-size: 34px;
	line-height: 45px;
	position: relative;
}
.question__title_9,
.question__title_10,
.question__title_11,
.question__title_12,
.question__title_13{
	background: url(../img/fon_title_q10.png) 0 0 no-repeat;
	max-height: 291px;
	font-family: 'Open Sans', sans-serif;
	font-size: 34px;
	line-height: 45px;
	position: relative;
}
.question__title_0{
	padding: 40px 17px 72px 260px;
}
.question__title_1{
	padding: 67px 78px 83px 260px;
}
.question__title_2{
	padding: 46px 86px 79px 260px;
}
.question__title_3{
	padding: 46px 134px 79px 260px;
}
.question__title_4{
	padding: 71px 123px 79px 260px;
}
.question__title_5{
	padding: 46px 86px 79px 241px;
}
.question__title_6{
	padding: 46px 114px 79px 260px;
}
.question__title_7{
	padding: 46px 148px 79px 260px;
}
.question__title_8{
	padding: 55px 86px 79px 260px;
}
.question__title_9{
	padding: 70px 86px 112px 301px;
}
.question__title_10{
	padding: 46px 86px 91px 300px;
}
.question__title_11{
	padding: 46px 119px 91px 300px;
}
.question__title_12{
	padding: 46px 95px 95px 306px;
}
.question__title_13{
	padding: 46px 86px 92px 308px;
}

.question__title_0:after{
	content: '';
	display: block;
	position: absolute;
	top: 44px;
    left: 82px;
	width: 135px;
	height: 157px;
	background: url(../img/q1.png) 0 0 no-repeat;
}
.question__title_1:after{
	content: '';
    display: block;
    position: absolute;
    top: 35px;
    left: 75px;
    width: 145px;
    height: 160px;
    background: url(../img/q2.png) 0 0 no-repeat;
}
.question__title_2:after{
	content: '';
    display: block;
    position: absolute;
    top: 42px;
    left: 66px;
    width: 150px;
    height: 160px;
    background: url(../img/q3.png) 0 0 no-repeat;
}
.question__title_3:after{
	content: '';
    display: block;
    position: absolute;
    top: 39px;
    left: 70px;
    width: 150px;
    height: 160px;
    background: url(../img/q4.png) 0 0 no-repeat;
}
.question__title_4:after{
	content: '';
    display: block;
    position: absolute;
    top: 38px;
    left: 83px;
    width: 145px;
    height: 160px;
    background: url(../img/q5.png) 0 0 no-repeat;
}
.question__title_5:after{
	content: '';
    display: block;
    position: absolute;
    top: 42px;
    left: 85px;
    width: 145px;
    height: 160px;
    background: url(../img/q6.png) 0 0 no-repeat;
}
.question__title_6:after{
	content: '';
    display: block;
    position: absolute;
    top: 40px;
    left: 109px;
    width: 145px;
    height: 160px;
    background: url(../img/q7.png) 0 0 no-repeat;
}
.question__title_7:after{
	content: '';
    display: block;
    position: absolute;
    top: 42px;
    left: 72px;
    width: 145px;
    height: 160px;
    background: url(../img/q8.png) 0 0 no-repeat;
}
.question__title_8:after{
	content: '';
    display: block;
    position: absolute;
    top: 88px;
    left: 79px;
    width: 145px;
    height: 160px;
    background: url(../img/q9.png) 0 0 no-repeat;
}
.question__title_9:after{
	content: '';
    display: block;
    position: absolute;
    top: 35px;
    left: 74px;
    width: 211px;
    height: 160px;
    background: url(../img/q10.png) 0 0 no-repeat;
}
.question__title_10:after{
	content: '';
    display: block;
    position: absolute;
    top: 36px;
    left: 73px;
    width: 214px;
    height: 160px;
    background: url(../img/q11.png) 0 0 no-repeat;
}
.question__title_11:after{
	content: '';
    display: block;
    position: absolute;
    top: 37px;
    left: 72px;
    width: 213px;
    height: 160px;
    background: url(../img/q12.png) 0 0 no-repeat;
}
.question__title_12:after{
	content: '';
    display: block;
    position: absolute;
    top: 36px;
    left: 70px;
    width: 218px;
    height: 160px;
    background: url(../img/q13.png) 0 0 no-repeat;
}
.question__title_13:after{
	content: '';
    display: block;
    position: absolute;
    top: 29px;
    left: 74px;
    width: 212px;
    height: 169px;
    background: url(../img/q14.png) 0 0 no-repeat;
}




#end .candidate__item{
	position: absolute;
	display: block;
	cursor: pointer;
	display: block;
	top: 20px;
	right: 30px;
	left: auto;
}
.rezLink{
	position: absolute;
	display: block;
	cursor: pointer;
	display: block;
	top: 275px;
    right: 8px;
	width: 246px;
	height: 87px;
	background: url(../img/rez_link.png) 0 0 no-repeat
}
/* <-- Test */









/* Share --> */
#sHARE{
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
}
#sHARE .ya-share2__container_size_m .ya-share2__icon {
    width: 82px;
    height: 72px;
    background-repeat: no-repeat;
}
#sHARE .ya-share2__item_service_facebook .ya-share2__icon{
	background-image: url('../img/icon_fb.png');
}
#sHARE .ya-share2__item_service_vkontakte .ya-share2__icon{
	background-image: url('../img/icon_vk.png');
}
#sHARE .ya-share2__item_service_twitter .ya-share2__icon{
	background-image: url('../img/icon_tw.png');
}
#sHARE .ya-share2__item_service_facebook .ya-share2__badge,
#sHARE .ya-share2__item_service_vkontakte .ya-share2__badge,
#sHARE .ya-share2__item_service_twitter .ya-share2__badge {
    background-color: transparent;
    border-radius: 0;
}












@media screen and (max-width: 1366px) {

	.raketa {
	    top: 2vh;
	}
	.h1 {
	    font-size: 5em;
	    max-width: 630px;
	    padding-top: 14vh;
	}
	.votingBox {
	    left: 42%;
	}
	#section0 {
	    overflow: hidden;
	}
	.h2 {
	    font-size: 5em;
	    max-width: 544px;
	}
	/*.candidate__item_01 {*/
	    /*left: 10%;*/
	/*}*/
	/*.candidate__item_02 {*/
	    /*left: 280px;*/
	/*}*/
	/*.candidate__item_03 {*/
	    /*left: 480px;*/
	/*}*/
	/*.candidate__item_04 {*/
	    /*top: 0;*/
	    /*left: 70%;*/
	/*}*/
	/*.candidate__item_05 {*/
	    /*top: 24vh;*/
	    /*left: 12%;*/
	/*}*/
	/*.candidate__item_06 {*/
	    /*top: 28vh;*/
	    /*left: 374px;*/
	/*}*/
	/*.candidate__item_07 {*/
	    /*top: 26vh;*/
	    /*left: 61%;*/
	/*}*/
	/*.candidate__item_08 {*/
	    /*top: 49vh;*/
	    /*left: 23%;*/
	/*}*/
	/*.candidate__item_09 {*/
	    /*top: 51vh;*/
	    /*left: 45%;*/
	/*}*/
	/*.candidate__item_10 {*/
	    /*top: 48vh;*/
	    /*left: 68%;*/
	/*}*/
.h3__test {
    font-size: 5em;
    line-height: 1em;
    max-width: 220px;
}
.active .h3__test:after {
    left: -3px;
}
.fp-viewing-test .fixedBottom__wrp {
    background: url(../img/18_m.png) 0 10px no-repeat;
    min-height: 57px;
}
.questions__blocList {
    padding-top: 5px;
}
.questions__item {
    margin-left: 217px;
    margin-bottom: 12px;
    padding-left: 62px;
    font-size: 18px;
    line-height: 27px;
    padding-right: 94px;
}
.h3__resul {
    font-size: 5em;
    max-width: 464px;
    padding-top: 25px;
}
#end:after {
    left: 1px;
}
#end:after, #end:before {
    top: 26px;
}
.rezLink {
    top: 208px;
}
#end .candidate__item {
    right: 69px;
    left: auto;
}
.end__text {
    width: 397px;
    font-size: 18px;
    line-height: 29px;
    padding-top: 39%;
}



}

#startText{
	cursor: pointer;
	text-decoration: underline;
}